#!/usr/bin/make -f

# Allow SMP build
ifeq ($(DEBIAN_BUILD_NCPUS),)
	DEBIAN_BUILD_NCPUS = $(shell /usr/bin/getconf _NPROCESSORS_ONLN)
endif
ifneq ($(DEBIAN_BUILD_NCPUS),)
	EXTRA_MAKE_FLAGS += -j$(DEBIAN_BUILD_NCPUS)
endif
MAKE += $(EXTRA_MAKE_FLAGS)

indep_conf_flags = \
	--libexecdir="\$${libdir}" \
	--enable-gstreamer \
	--enable-ffmpeg \
	--enable-builtin-ffmpeg \
	--enable-builtin-libvpx

DEB_CONFIGURE_EXTRA_FLAGS += $(indep_conf_flags)

%:
	dh $@ --parallel
override_dh_auto_configure:
	dh_auto_configure -- $(DEB_CONFIGURE_EXTRA_FLAGS)
override_dh_auto_build:
	dh_testdir && $(MAKE)
override_dh_shlibdeps:
	LD_LIBRARY_PATH=$(CURDIR)/debian/tmp/usr/lib:$$LD_LIBRARY_PATH \
	dh_shlibdeps -- --ignore-missing-info
